body {
	background-color: black;

}

nav {
	color: white;
	font-family: 'Pacifico', cursive;
}

.profile: {
	color: white;
}

.profile-name {
	margin-top: 20px;
}

.personal-profile{
	margin-top: 20px;
}

.personal-skills{
	margin-top: 20px;
}

.university{
	margin-top: 20px;
}

.social-media{
	margin-top: 20px;
}

.profile-pic{
	margin-top: 20px;
}

.video-card{
	margin-top: 20px;
}

.map-card{
	margin-top: 20px;
}

.card-countries{
	margin-top: 20px;
}